<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<!-- 프로젝트에서 어노테이션 사용 가능 -->
	<context:component-scan base-package="org.comstudy21.myapp"></context:component-scan>

	<bean id="log" class="org.comstudy21.myapp.common.LogAdvice"></bean>
	<bean id="before" class="org.comstudy21.myapp.common.BeforeAdvice"></bean>
	<bean id="afterReturning" class="org.comstudy21.myapp.common.AfterReturningAdvice"></bean>
	<bean id="afterThrowing" class="org.comstudy21.myapp.common.AfterThrowingAdvice"></bean>
	<bean id="around" class="org.comstudy21.myapp.common.AroundAdvice"></bean>
	
	<!-- 맨앞의 *: 모든 리턴형
		*Impl로 끝나는 모든 것들
		.**(..) 모든 매개변수
	-->

	<aop:config>
		<aop:pointcut id="allPointcut" expression="execution(* org.comstudy21.myapp..*Impl.*(..))"/>
		<aop:pointcut id="getPointcut" expression="execution(* org.comstudy21.myapp..*Impl.get*(..))"/>
		
 		 <aop:aspect ref="around">
			<aop:around method="aroundLog" pointcut-ref="getPointcut"/>
		</aop:aspect> 
		
<!-- 		<aop:aspect ref="before">
			<aop:before method="beforeLog" pointcut-ref="getPointcut"/>
		</aop:aspect> -->
		
		<!-- 
		<aop:aspect ref="afterThrowing">
			<aop:after-throwing method="exceptionLog" pointcut-ref="allPointcut"/>
		</aop:aspect> -->
	<!-- 	
		<aop:aspect ref="afterReturning">
			<aop:after-returning method="afterReturningLog" pointcut-ref="getPointcut" returning="returnObj"/>
		</aop:aspect>-->
	</aop:config>
</beans>
